<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <!-- 這個片段要寫JS的時候 -->
  <%- include('./layout/navbar'); %>

    <h1>實績案例</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, molestias. Sint numquam possimus dolor
      aspernatur alias minima tenetur tempora impedit.</p>
    <img src="../assets/images/cat.jpg" style="width: 300px;" alt="cat">

    <%- include('./layout/footer'); %>

      <script type="module" src="../main.js"></script>
</body>

</html>